.divusername {
    padding-top: 6px;
}

    .divusername span {
        font-size: 16px;
    }

.colleftlayout {
    padding-left: 0px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    min-height: 575px;
}

.colrightlayout {
    padding-top: 10px;
    padding-left: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
