@using MVC.Settings;
@model PatientModel
@*Generated from Custom Template.*@
@*Model namespace using directive should be added to _ViewImports.cshtml.*@

@* @{
	ViewData["Title"] = "Create New Patient";
}

<h1>@ViewData["Title"]</h1> *@

<a class="btn btn-info">Create New Patient</a>
<hr />

<div class="row">
	<div class="col-12">
		<form asp-action="Create" enctype="multipart/form-data">
			@Html.AntiForgeryToken()
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="row mb-3">
				<label asp-for="Name" class="col-2 col-form-label"></label>
				<div class="col-5">
					<input asp-for="Name" class="form-control" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
			</div>
			<div class="row mb-3">
				<label asp-for="Surname" class="col-2 col-form-label"></label>
				<div class="col-5">
					<input asp-for="Surname" class="form-control" />
					<span asp-validation-for="Surname" class="text-danger"></span>
				</div>
			</div>
			<div class="row mb-3">
				<label asp-for="GenderId" class="col-2 col-form-label"></label>
				<div class="col-5">
					<select asp-for="GenderId" class="form-select" asp-items="ViewBag.GenderId">
						<option value="">-- Select --</option>
					</select>
					<span asp-validation-for="GenderId" class="text-danger"></span>
				</div>
			</div>
			<div class="row mb-3">
				<label asp-for="DateOfBirth" class="col-2 col-form-label"></label>
				<div class="col-5">
					<input asp-for="DateOfBirth" class="form-control" />
					<span asp-validation-for="DateOfBirth" class="text-danger"></span>
				</div>
			</div>
			<div class="row mb-3">
				<label asp-for="CityId" class="col-2 col-form-label"></label>
				<div class="col-5">
					<select asp-for="CityId" class="form-select" asp-items="ViewBag.CityId">
						<option value="">-- Select --</option>
					</select>
					<span asp-validation-for="CityId" class="text-danger"></span>
				</div>
			</div>
			<div class="row mb-3">
				<label asp-for="Complaint" class="col-2 col-form-label"></label>
				<div class="col-5">
					<input asp-for="Complaint" class="form-control" />
					<span asp-validation-for="Complaint" class="text-danger"></span>
				</div>
			</div>
			<div class="row mb-3">
				<label asp-for="IsIssurance" class="col-2 col-form-label"></label>
				<div class="col-5" style="padding-top: 7px;">
					<input class="form-check-input" asp-for="IsIssurance" />
				</div>
			</div>
			<div class="row mb-3">
				<label asp-for="ClinicId" class="col-2 col-form-label"></label>
				<div class="col-5">
					<select asp-for="ClinicId" class="form-select" asp-items="ViewBag.ClinicId" id="clinics">
						<option value="">-- Select --</option>
					</select>
					<span asp-validation-for="ClinicId" class="text-danger"></span>
				</div>
			</div>
			<div class="row mb-3">
				<label asp-for="DoctorId" class="col-2 col-form-label"></label>
				<div class="col-5">
					<select asp-for="DoctorId" class="form-select" asp-items="ViewBag.DoctorId" id="doctors">
						<option value="">-- Select --</option>
					</select>
					<span asp-validation-for="DoctorId" class="text-danger"></span>
				</div>
			</div>
			<div class="row mb-3">
				<label asp-for="DoctorIds" class="col-2 col-form-label"></label>
				<div class="col-5">
					<select multiple asp-for="DoctorIds" class="form-select" asp-items="ViewBag.DoctorId" id="selectedDoctors">
					</select>
					<span asp-validation-for="DoctorIds" class="text-danger"></span>
				</div>
			</div>

			<div class="row mb-3">
				<label asp-for="Image" class="col-2 col-form-label"></label>
				<div class="col-5">
					<input type="file" name="image" class="form-control" accept="@AppSettings.AcceptedImageExtensions" />
				</div>
			</div>

			<div class="row mb-3">
				<div class="offset-2 col-5">
					<input type="submit" value="Save" class="btn btn-primary" />
					&nbsp;&nbsp;
					<button type="reset" class="btn btn-outline-primary">Reset</button>
					&nbsp;&nbsp;
					<a asp-action="Index" class="btn btn-outline-primary">Back to Patient List</a>
				</div>
			</div>
		</form>
	</div>
</div>


@section Scripts {
	<script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>

	<script>
		$(document).ready(function () {
			$("#doctors").empty();
			$("#doctors").append('<option value="">-- Select Doctor -- </option>');

			$("#clinics").change(function () {
				$("#doctors").empty();
				$("#doctors").append('<option value="">-- All Doctors -- </option>');
				var selectedClinicId = $("#clinics").val();
				if (selectedClinicId != "") {
					$.getJSON(
						"/Patients/GetDoctorsByClinic",
						{ clinicId: selectedClinicId },
						function (doctors) {
							for (const doctor of doctors) {
								var doctorFullName = doctor.name + ' ' + doctor.surname;
								var doctorId = doctor.id;
								$("#doctors").append('<option value="' + doctorId + '">' + doctorFullName + '</option>');
							}
						}
					);
				}
			});

			$("#doctors").change(function () {
				var selectedDoctorId = $("#doctors").val();
				if (selectedDoctorId) {
					var doctorFullName = $("#doctors option:selected").text();
					$("#selectedDoctors").append('<option value="' + selectedDoctorId + '" selected>' + doctorFullName + '</option');
				}
			});
		});

		document.addEventListener("DOMContentLoaded", function () {
			var selectedDoctorsDropdown = document.getElementById("selectedDoctors");
			selectedDoctorsDropdown.innerHTML = "";
		});
	</script>

	<partial name="_ValidationScriptsPartial" />
}
